In [16]:
import pandas as pd
import csv
import random

In [17]:
df = pd.read_csv('./houses_Madrid.csv')

In [45]:
df.columns

Index(['id', 'area', 'm2', 'n_rooms', 'address', 'buy_price_2023',
       'buy_price_2024', 'built_year', 'has_parking', 'buy_price_2022',
       'buy_price_2021'],
      dtype='object')

In [46]:
df.head()

,id,area,m2,n_rooms,address,buy_price_2023,buy_price_2024,built_year,has_parking,buy_price_2022,buy_price_2021
0,0,"San Cristóbal, Madrid",64,2,"Piso en venta en calle de Godella, 64",84770,85000,1960.0,False,81340,72230
1,1,"Los Ángeles, Madrid",70,3,Piso en venta en calle de la del Manojo de Rosas,120700,129900,NaN,False,120620,113330
2,2,"San Andrés, Madrid",94,2,"Piso en venta en calle del Talco, 68",143807,144247,NaN,False,142077,139817
3,3,"San Andrés, Madrid",64,2,Piso en venta en calle Pedro Jiménez,105900,109900,1955.0,False,104250,103580
4,4,"Los Rosales, Madrid",108,2,Piso en venta en carretera de Villaverde a Val...,258140,260000,2003.0,True,249500,241870

In [39]:
prices2022 = df["buy_price_2022"].tolist()

In [40]:
pricesCount = len(prices2022)

In [41]:
pricesCount

100

In [42]:
prices2021 = list()

for price in prices2022:
    minus = random.randint(1, 1000) * 10
    oldPrice = price - minus
    prices2021.append(oldPrice)

In [43]:
len(prices2021)

100

In [44]:
df["buy_price_2021"] = prices2021

In [47]:
df.to_csv("houses_Madrid.csv")

In [16]:
madridData = data.iloc[0:100]

In [17]:
madridData.to_csv("Madrid_real_estate_prices.csv")